@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Chat</h1>
    <p>SignalR Chat with authorization using Identity Server.</p>
    <p>You can use the command /stock=stock_code and see the quote. Ex.: /stock=aapl.us, /stock=googl.us</p>
</div>
